<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/style.css" rel="stylesheet"> 
    <link href="/assets/css/code.css" rel="stylesheet">
    <title>{{ title }}</title> 
  </head>
  <body>
    <header>
      {% include "partials/header.njk" %}
    </header>
    <main>
      {% block content %}
      <article>
      <h2>{{ title }}</h2>
      <hr>
      {% include "partials/breadcrumb.njk" %}
      {{ content | safe }} 
      </article>
      {% endblock %}   
    </main>
    <footer>
      {% include "partials/footer.njk" %}
    </footer>
  </body>
</html>