{% extends "views/_layouts/base.njk" %} 
{% block content %}
<article>
<h2 style="padding-top: 0rem;">{{ title }}</h2>
<hr>
{% include "partials/breadcrumb.njk" %}
{{content| safe}}
<br>
{% include "partials/pagination.njk" %}
</article>
{% endblock %}