/* CSS RESET */

*,     /* CSS Selector - Selects all elements */
*::before,  /* CSS Selector - Insert something after the content of each element */
*::after {  /* CSS Selector - Insert something before the content of each element */
  box-sizing: border-box; /* Defines how the width and height of an element are calculated. The width and height properties (and min/max properties) includes content, padding and border. */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* Specifies whether to smoothly animate the scroll position, instead of a straight jump, when the user clicks on a link within a scrollable box. */
  font-size: 62.5%; /* Sets the root font size to 10px = 1rem */
}

/* GLOBAL */

body {
    font-size: 1.7rem;
    line-height: 1.5;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #14191f;
    color: white;
  }

img, picture {
    max-width: 100%;
    display: block;
    margin: auto;
  }

a {
    color: #5fb8fc;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: none;   
    font-weight: bold;
  }

h3 {
  padding-top: 1rem;
}
  main {
    margin: 0 auto;  /* Creates extra space around an element. Shorthand for margin-top/right/bottom/left. 4 top/right/botom/left, 3 - top/right/botom, 2 - vertical/horizontal 1 - all */
    min-height: calc(100vh - 10rem); /* Sets the minimum height of an element. If the content is smaller than the minimum height, the minimum height will be applied. */
    max-width: 100rem; 
    padding: 0rem 2rem;
  }
  
main ul {
    padding-left: 2rem;
  }

header {
    display: flex; /* Displays an element as a block-level flex container */
    align-items: center; /* Aligns the flex items vertically */
    height: 5rem; /* Sets the height of an element. Does not include padding, borders, or margins. */
    max-width: 100rem; 
    margin: 0 auto; /* Creates extra space around an element. Shorthand for margin-top/right/bottom/left. 4 top/right/botom/left, 3 - top/right/botom, 2 - vertical/horizontal 1 - all */
    /* width: 100%;  Sets the width of an element. Does not include padding, borders, or margins. */
    padding: 1rem 2rem;
    background-color: #14191f;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;  
    justify-content: flex-end;
  }

header > a {
  display: block;
  padding-right: 1rem;
  font-weight: normal;
}

header > h2 {
  margin-left: auto;
}

footer {
    display: flex; /* Displays an element as a block-level flex container */
    justify-content: center; /* Aligns the flex items horizontally */
    align-items: center; /* Aligns the flex items vertically */
    height: 5rem; /* Sets the height of an element. Does not include padding, borders, or margins. */
    width: 100%; /* Sets the width of an element. Does not include padding, borders, or margins. */
    padding: 1rem 2rem;
    color: grey;
    max-width: 100rem; 
    margin: 0 auto;
  }

  /* BREADCRUMB NAVIGATION */
  nav[aria-label=breadcrumb] ol {
    margin: 0;
    padding-bottom: 2rem;
    font-size: smaller;
  }
  nav[aria-label=breadcrumb] li {
    display: inline;
  }
  nav[aria-label=breadcrumb] li:not(:last-child)::after {
    content: " >"
  }

