{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}

{% for crumb in navPages %}
	{% if loop.first %}<nav aria-label="breadcrumb"><ol>{% endif %}

        {% if loop.last %}
            <li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
            <li>{{ title }}</li>
        {% else %}
		    <li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
        {% endif %}
    {% if loop.last %}</ol></nav>{% endif %}
{% endfor %}
